:root {
  --darkPink: rgb(128, 52, 66);
  --pink: rgb(159, 76, 91);
  /* --green: rgb(89, 137, 19); */
  --white: rgb(245, 246, 248);
  --lightGreen: rgb(174, 197, 128);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* NAVBAR */
.navbar {
  background-color: var(--lightGreen);
  height: fit-content;
}
.navbar-brand {
  display: inline-flex;
  align-content: baseline;
}
.navbar-brand p {
  font-size: 2rem;
  color: var(--pink);
  margin: 0;
  align-self: flex-end;
}
.collapse {
  display: flex;
  justify-content: space-between;
}
ul {
  justify-content: flex-end;
}
.nav-link {
  color: var(--pink) !important;
  margin-left: 2em;
  justify-content: start;
}
.basket {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  font-size: 1.3rem;
  margin: 0;
}
.basket span {
  font-size: 3.5rem;
}
.basket span:hover,
.nav-link:hover {
  color: var(--darkPink);
}
.basket span:hover {
  color: var(--darkPink);
  font-size: 3.8rem;
}
.nav-link:hover {
  color: var(--darkPink);
  font-size: 1.4rem;
  font-weight: bolder;
}

.navbar-toggler {
  border: 3px solid var(--pink) !important;
  border-radius: 0.25rem;
}
/* CONTACT */

.contact a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 2em;
}
.contact a:hover {
  font-weight: bolder;
}
/* END CONTACT */
/* END OF NAVBAR */
/* DISCLAIMER */
.disclaimer {
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
}
.disclaimer span {
  font-weight: 500;
}
/* END OF  DISCLAIMER */
/* LIST OF PRODUCTS */

.display-products {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
}
/* END OF LIST OF PRODUCTS */
/* PRODUCT */
.cardWrapper {
  grid-gap: 3em;
}
.card {
  background-color: var(--white);
  border: var(--lightGreen) solid 3px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2),
    -3px -3px 7px rgba(255, 255, 255, 0.4);
  padding: 0.5em;
}
.card-body {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}
.card-img-top {
  object-fit: contain;
}

.input {
  min-width: 65px;
  text-align: center;
}
.button {
  background-color: rgb(14, 69, 68);
  border-radius: 0.25rem;
  color: white;
}
.card-body .addCart {
  background-color: var(--pink);
  border-radius: 0.25rem;
  color: white;
  margin: 1em;
  max-width: 90%;
}
.addCart:hover {
  background-color: var(--darkPink);
}
#sold-out {
  height: 1.7rem;
  width: 2.6rem;
  align-self: center;
}
/* MODAL */

.modal-content {
  width: 100%;
  border: var(--lightGreen) solid 3px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2),
    -3px -3px 7px rgba(255, 255, 255, 0.4);
}
.modal-header {
  color: var(--darkPink);
}
.modal-title {
  font-size: 3rem;
}
.modal-body img {
  align-self: center;
  width: 90%;
  height: 90%;
}
/* END OF PRODUCT */
/* CART */
.cardEmpty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8rem 0;
  margin: 5rem auto;
  background: url("./assets/images/4cactus.jpeg") center/cover no-repeat;
  min-height: calc(70vh - 10px);
  min-height: 70vh;
  border: var(--lightGreen) solid 3px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2),
    -3px -3px 7px rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: 900;
  color: var(--pink);
}
.goShop {
  background-color: var(--pink);
  margin-top: 2rem;
  padding: 0.5em;
  color: var(--white) !important;
  align-self: center;
  font-size: 2rem;
  border-radius: 0.25rem;
}
.goShop:hover {
  text-decoration: none;
  background-color: var(--darkPink);
}
#delete {
  width: 1.2em;
  height: 1.2em;
}
.sum {
  font-weight: 700;
  font-size: 1.6rem;
}

/* END OF CART */
/* CONTACT */
.contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr, 3fr, 3fr;
  grid-gap: 1em;
  justify-content: center;
  align-content: center;
}
.contact section {
  padding: 2em;
  border: var(--lightGreen) solid 3px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2),
    -3px -3px 7px rgba(255, 255, 255, 0.4);
}
.contact h1 {
  font-size: 5rem;
  color: var(--darkPink);
}
.contact h2,
.contact h1 {
  text-align: center;
}
/* END OF CONTACT */
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--lightGreen);
  font-size: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
}
footer p {
  margin: 0;
  font-style: italic;
}
footer p > a {
  color: black;
}
footer p > a:hover {
  color: var(--pink);
}
/* END OF FOOTER */
/* BUY */
.buy {
  justify-content: center;
  background: url("./assets//images/working.jpg") center/cover no-repeat;
  margin: 10vh auto;
  min-width: 320px;
  min-height: 320px;
  width: 50vh;
  height: 50vh;
}
.buy h2 {
  padding: 0.5em;
}
/* END OF BUY */

@media only screen and (min-width: 424px) {
  .cardWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    margin: 1em 0.5em;
  }
  h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .collapse {
    display: block;
  }
  .disclaimer {
    font-weight: 400;
    font-size: 1.5rem;
  }
  .disclaimer span {
    font-weight: 700;
  }
  footer {
    font-size: 1.5rem;
    padding: 2rem;
  }
  .cardEmpty {
    padding: 5rem 0 19rem 0;
  }
  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 2em;
    margin-bottom: 5rem;
  }
  h5 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}
